<div class="w-full h-screen bg-fixed flex flex-col">
    <div class="h-[260px] bg-white">

    </div>
    <div class="h-full bg-red-500 flex items-center"  style="background: linear-gradient(90deg, #293C9F 0%, #1B2453 100%);">
        <div class="w-full min-w-[60%] h-full flex items-center justify-start relative">
            <div class="flex flex-col items-start justify-center text-white w-[1000px] p-10">
                <h1 class="text-[100px] leading-[6rem] m-0 p-0 font-bold">{{data}}</h1>
            </div>
            <div class="absolute bottom-0 left-0 w-full">
                <img src="/assets/backdrop-lg.png" alt="/assets/backdrop-lg.png" class="h-full w-full object-cover opacity-40">
            </div>
        </div>
        <div class="h-full w-full">
            <img src="/assets/banner-lg-2.png" alt="/assets/banner-lg-2.png" class="h-full w-full object-cover">
        </div>
    </div>

</div>